{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculdade UNES</title>
</head>
<body background="{% static 'home/images/fundo.png' %}">
    <div style="width: 900px; margin: 21.5px auto;">
        <img src="{% static 'home/images/logo.png' %}">
        <a href ="#" style= "margin-left: 50%">Home</a> |
        <a href ="#">Quem Somos</a> |
        <a href ="#">Contatos</a>
    </div>
    <div style="width: 900px; margin: 0px auto;">
        <img src="{% static 'home/images/capa.png' %}">
    </div>
    <div style="width: 895px; margin: 21.5px auto;">
        <h2>Sobre a universidade</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, modi. Ratione, autem quidem. Repellat laborum, quisquam quaerat accusamus beatae fugiat voluptate odio architecto dicta, adipisci dolores, maiores eum asperiores saepe excepturi. Esse illum totam delectus illo impedit? Vel consectetur mollitia tenetur. Aliquid, earum ipsa id quae ratione distinctio esse qui cupiditate sint aperiam recusandae voluptatem expedita eaque accusamus. Beatae velit tenetur in repudiandae, nam omnis facere vel reprehenderit quisquam? Modi expedita minus officia, quasi sed labore repudiandae earum quo harum sint nisi necessitatibus repellendus libero eveniet et nesciunt molestiae vero sit maiores? In ullam molestiae corporis explicabo reprehenderit dolorem reiciendis?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque dolores aliquam provident sint, quasi temporibus rem labore quidem corporis voluptas harum quis, maiores doloribus repellendus veniam omnis sequi ad mollitia.</p>
    </div>
    <div style="width: 900px; margin: 21.5px auto;">
        <h4 style="text-align: center;">Todos direitos reservados</h4>
    </div>
</body>
</html>